// Font type
$font-name: 'Roboto', Arial, sans-serif;

$text-light: #ffffff;

$main: rgba(256, 65, 50, 1);
$main-50: rgba(256, 65, 50, .5);
$darker-main: rgba(245, 50, 40, 1);
$darkest-main: rgb(185, 30, 20);

$grey: rgba(135, 135, 135, 0.2);
$grey-dark: rgba(135, 135, 135, 0.5);
$grey-light: rgba(85, 85, 85, 0.2);

$badge: rgb(250, 155, 30);
$badge-border: rgb(190, 0, 0);

$more: rgb(0, 190, 210)